.post {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  position: relative;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.username {
  font-weight: bold;
}

.post-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.post-content {
  padding: 10px 0;
}

.post-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
}

/* Like Button */
.like-section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.like-count {
  font-size: 16px;
}


.like-button:hover {
  color: red;
}

.like-button:active {
  transform: scale(0.9);
}

.liked {
  color: red;
}

/* Comment Section */
.comment-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  text-align: left;
}

.comment-author {
  font-weight: bold;
}

.comment-icon {
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease;
}

.comment-icon:hover {
  color: blue;
}

.comment-input {
  flex-grow: 1;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.comment-submit {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.comment-submit:hover {
  background-color: #ddd;
}

.comment-submit:active {
  transform: scale(0.95);
}

/* Time */

.timestamp {
  position: absolute;
  right: 10px;
  font-size: 12px;
  color: #888;
}
