/* src/pages/CreatePostPage.css */

  .main-content {
    flex-grow: 1;
    padding: 5px;
    margin-left: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .main-content {
      margin-left: 0;
      padding: 15px;
    }
  }
  